services:

  # 1. SEC Filing metadata Unzip process
  unzip_filings:
    build: 
      context: .
      dockerfile: Dockerfile_unzip_filings
      no_cache: true
    volumes:
      - ./pipelines/fundamentals/companyfacts.zip:/edgar/pipelines/fundamentals/companyfacts.zip
      - ./pipelines/fundamentals/submissions.zip:/edgar/pipelines/fundamentals/submissions.zip
    depends_on:
      - tl_filings
      - telemetry
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://telemetry:4318
    networks:
     - homeserver
    profiles:
      - llm
    container_name: unzip_filings

  # 2. Transform+Load Filing metatdata Process
  tl_filings:
    build: 
      context: .
      dockerfile: Dockerfile_tl_filings
      no_cache: true
    restart: on-failure
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://telemetry:4318
    depends_on:
      - telemetry
    networks:
     - homeserver
    profiles:
      - llm
    container_name: tl_filings

  # # 3. SEC Edgar Filing Load Process
  # load_filings:
  #   build: 
  #     context: .
  #     dockerfile: Dockerfile_load_filings
  #     no_cache: true
  #   restart: unless-stopped
  #   networks:
  #    - homeserver
  #   profiles:
  #     - llm
  #   container_name: load_filings

  