services:
  # streamlit dashboard for technicals, fundamentals and news
  press_release_dashboard:
    build:
      dockerfile: Dockerfile_dash
      context: .
    restart: unless-stopped
    ports:
      - 8502:8502
    volumes:
      - ./ui/streamlit:/dashboard/ui
    profiles:
      - llm
    networks:
     - homeserver
    container_name: dashboard

  react_dashboard:
    build:
      dockerfile: Dockerfile_nextJS
      context: .
    restart: unless-stopped
    ports:
      - ${NEXTJS_UI_PORT}:3000
    volumes:
      - ./ui/node:/dashboard
    profiles:
      - llm
    networks:
     - homeserver
    container_name: sys_dashboard

  # # schwab api etl
  # technicals_etl:
  #   build:
  #     dockerfile: Dockerfile_tech
  #     context: .
  #   restart: on-failure
  #   networks:
  #    - homeserver
  #   mem_limit: ${MEM_LIMIT}
  #   depends_on:
  #     - postgres
  #   profiles:
  #     - llm
  #   container_name: tech

  # # news downloads and db inserts
  # press_release_etl:
  #   env_file:
  #     - .env
  #   build: 
  #     dockerfile: Dockerfile_pr
  #     context: .
  #     no_cache: true
  #   restart: on-failure
  #   volumes:
  #     - ./pipelines/press_releases/newswire_client.py:/pr/pipelines/press_releases/newswire_client.py
  #     - ./util/elastic/certs:/pr/util/elastic/certs
  #   extra_hosts:
  #     - "host.docker.internal:host-gateway"
  #   networks:
  #    - homeserver
  #   profiles:
  #     - elastic
  #     - llm
  #   depends_on:
  #     - es02
  #   container_name: pr

  # SEC Edgar Filing Load Process
  load_filings:
    build: 
      context: .
      dockerfile: Dockerfile_load_filings
      no_cache: true
    restart: unless-stopped
    networks:
     - homeserver
    profiles:
      - llm
    container_name: load_filings

  # Kafka
  kafka:
    image: apache/kafka:latest
    restart: unless-stopped
    ports:
      - 9092:9092
    networks:
     - homeserver
    container_name: kafka
