services:
  # streamlit dashboard for technicals, fundamentals and news
  press_release_dashboard:
    build:
      dockerfile: Dockerfile_dash
      context: .
    restart: unless-stopped
    ports:
      - 8502:8502
    volumes:
      - ./ui:/dashboard/ui
    profiles:
      - llm
    networks:
     - homeserver
    container_name: dashboard

  # schwab api etl
  technicals_etl:
    build:
      dockerfile: Dockerfile_tech
      context: .
    restart: on-failure
    networks:
     - homeserver
    mem_limit: ${MEM_LIMIT}
    depends_on:
      - postgres
    profiles:
      - llm
    container_name: tech

  # news downloads and db inserts
  press_release_etl:
    env_file:
      - .env
    build: 
      dockerfile: Dockerfile_pr
      context: .
      no_cache: true
    restart: on-failure
    volumes:
      - ./util/elastic/certs:/pt/util/elastic/certs
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
     - homeserver
    profiles:
      - elastic
      - llm
    depends_on:
      - es02
    container_name: pr

  # real time news updates
  webhook:
    build: 
      context: "./util/webhook_server/"
      no_cache: true
    restart: unless-stopped
    volumes:
      - ./util/webhook_server/nasdaq_screener.csv:/webhook/nasdaq_screener.csv
      - ./util/webhook_server/omit_words.json:/webhook/omit_words.json
      - ./util/webhook_server/good_words.json:/webhook/good_words.json
      - ./util/webhook_server/webhook_server.py:/webhook/webhook_server.py
      - ./util/webhook_server/webhook_response_model.py:/webhook/webhook_response_model.py
    ports:
      - 8001:8001
    networks:
     - homeserver
    profiles:
      - llm
    container_name: benzinga_webhook
