services:
  # streamlit dashboard for technicals, fundamentals and news
  press_release_dashboard:
    build:
      dockerfile: Dockerfile_dash
      context: .
    restart: unless-stopped
    ports:
      - 8502:8502
    volumes:
      - ./ui/streamlit:/dashboard/ui
    profiles:
      - llm
    networks:
     - homeserver
    container_name: dashboard

  react_dashboard:
    build:
      dockerfile: Dockerfile_nextJS
      context: .
    restart: unless-stopped
    ports:
      - ${NEXTJS_UI_PORT}:3000
    volumes:
      - ./ui/node:/dashboard
    profiles:
      - llm
    networks:
     - homeserver
    container_name: sys_dashboard

  # # schwab api etl
  # technicals_etl:
  #   build:
  #     dockerfile: Dockerfile_tech
  #     context: .
  #   restart: on-failure
  #   networks:
  #    - homeserver
  #   mem_limit: ${MEM_LIMIT}
  #   depends_on:
  #     - postgres
  #   profiles:
  #     - llm
  #   container_name: tech


  # 1. SEC Filing metadata Unzip process
  unzip_filings:
    build: 
      context: .
      dockerfile: Dockerfile_unzip_filings
      no_cache: true
    volumes:
      - ./pipelines/fundamentals/companyfacts.zip:/edgar/pipelines/fundamentals/companyfacts.zip
      - ./pipelines/fundamentals/submissions.zip:/edgar/pipelines/fundamentals/submissions.zip
    networks:
     - homeserver
    profiles:
      - llm
    container_name: unzip_filings

  # 2. Transform+Load Filing metatdata Process
  tl_filings:
    build: 
      context: .
      dockerfile: Dockerfile_tl_filings
      no_cache: true
    restart: unless-stopped
    networks:
     - homeserver
    profiles:
      - llm
    container_name: tl_filings

  # # 3. SEC Edgar Filing Load Process
  # load_filings:
  #   build: 
  #     context: .
  #     dockerfile: Dockerfile_load_filings
  #     no_cache: true
  #   restart: unless-stopped
  #   networks:
  #    - homeserver
  #   profiles:
  #     - llm
  #   container_name: load_filings

  # app:
  #   # ... build context and ports
  #   environment:
  #     # Point the app to the collector's OTLP endpoint
  #     OTEL_EXPORTER_OTLP_ENDPOINT: http://collector:4318
  #   depends_on:
  #     - collector

  # # OpenTelemetry Collector Service
  # collector:
  #   image: otel/opentelemetry-collector:latest
  #   command: ["--config=/etc/otelcol/config.yaml"]
  #   volumes:
  #     - ./collector-config.yaml:/etc/otelcol/config.yaml # Mount your configuration
  #   ports:
  #     - "4317:4317" # OTLP gRPC receiver
  #     - "4318:4318" # OTLP HTTP receiver
  #     # ... other ports for Prometheus, health checks, etc.
