python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.27.1
schedule==1.2.1
pytz
Flask
Flask-SQLAlchemy
SQLAlchemy==2.0.25
SQLAlchemy-Utils==0.41.2
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.26.13
Werkzeug==2.3.5
marshmallow-sqlalchemy
psycopg2-binary
pandas==2.2.3
beautifulsoup4==4.12.3
html5lib==1.1
